<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.ib_component_props_title()}

| **Name**          | **Type**                     | **Description**                            |
| ----------------- | ---------------------------- | ------------------------------------------ |
| `status`          | `string`                     | {m.ib_props_status_description()}          |
| `style`           | `string`                     | {m.ib_props_style_description()}           |
| `title`           | `string`                     | {m.ib_props_title_description()}           |
| `icon`            | `Snippet` &vert; `Component` | {m.ib_props_icon_description()}            |
| `iconSize`        | `number`                     | {m.ib_props_iconsize_description()}        |
| `hideCloseButton` | `boolean`                    | {m.ib_props_hideclosebutton_description()} |
| `children`        | `Snippet`                    | {m.ib_props_children_description()}        |
