<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.dd_component_props_title()}

| **Name**          | **Type**                      | **Description**                              |
| ----------------- | ----------------------------- | -------------------------------------------- |
| `value`           | bindable `string \| string[]` | {m.dd_props_value_description()}             |
| `multiple`        | `boolean`                     | {m.dd_props_multiple_description()}          |
| `placeholder`     | `string`                      | {m.dd_props_placeholder_description()}       |
| `disabled`        | `boolean`                     | {m.dd_props_disabled_description()}          |
| `flyoutMaxHeight` | `number`                      | {m.dd_props_flyoutmaxheight_description()}   |
| `name`            | `string`                      | {m.dd_props_name_description()}              |
| `ref`             | bindable `HTMLElement`        | {m.dd_props_ref_description()}               |
| `children`        | `Snippet`                     | {m.dd_props_children_description()}          |

## {m.dd_dropdownoption_props_title()}

| **Name**   | **Type**  | **Description**                             |
| ---------- | --------- | ------------------------------------------- |
| `value`    | `string`  | {m.dd_option_props_value_description()}     |
| `text`     | `string`  | {m.dd_option_props_text_description()}      |
| `children` | `Snippet` | {m.dd_option_props_children_description()}  |
