<script lang="ts">
  import { CalendarView } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const multipleCode = `<CalendarView multiple />`;
  const weekStartCode = `<CalendarView weekStart={3} />`;
</script>

### {m.cv_multiple_title()}

{m.cv_multiple_description()}

<Showcase columns={1} code={multipleCode} minHeight="450px">
  <CalendarView multiple />
</Showcase>

### {m.cv_week_start_title()}

{m.cv_week_start_description()}

<Showcase columns={1} code={weekStartCode} minHeight="450px">
  <CalendarView weekStart={3} />
</Showcase>
