<script lang="ts">
  import { I18nMarkupMessage } from '@jlacostaec/paraglide-markup-svelte';
  import { Expander } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { InfoRegular } from 'fluentui-icons-svelte';
  import { m } from '$i18n/messages.js';

  const controllingExpansionCode = `
<Expander header="Expander Title" expanded>
  <p>This is the content of the expander</p>
</Expander>`;

  const openingDirectionCode = `
<Expander header="Expander Title" direction="up">
  <p>This is the content of the expander</p>
</Expander>`;

  const addingIconCode = `
<script>
  import { Expander } from 'fluentui-svelte';
  import { InfoRegular } from 'fluentui-icons-svelte';
<\/script>

<Expander header="Expander With Icon" Icon={InfoRegular}>
  <p>This is the content of the expander</p>
</Expander>`;
</script>

### {m.expander_controlling_expansion_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.expander_controlling_expansion_description} /></p>

<Showcase columns={1} code={controllingExpansionCode}>
  <Expander header="Expander Title" expanded>
    <p style="padding: 1rem">This is the content of the expander</p>
  </Expander>
</Showcase>

### {m.expander_opening_direction_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.expander_opening_direction_description} /></p>

<Showcase columns={1} code={openingDirectionCode}>
  <Expander header="Expander Title" direction="up">
    <p style="padding: 1rem">This is the content of the expander</p>
  </Expander>
</Showcase>

### {m.expander_adding_an_icon_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.expander_adding_an_icon_description} /></p>

<Showcase columns={1} code={addingIconCode}>
  <Expander header="Expander With Icon" Icon={InfoRegular}>
    <p style="padding: 1rem">This is the content of the expander</p>
  </Expander>
</Showcase>
