<script lang="ts">
  import { TimePicker } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
  import StatusBadge from '$site/components/status-badge/status-badge.svelte';
</script>

# Time Picker <StatusBadge />

{m.tp_description()}

<Showcase columns={1} minHeight="0" disablePanZoom showOverflow>
  <TimePicker format={12} />
</Showcase>

## {m.global_usage()}

```svelte
<script>
	import { TimePicker } from 'fluentui-svelte';

	let value = $state('');
</script>

<TimePicker bind:value format={12} />
```
