<script lang="ts">
  import { TimePicker } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const formatCode = `
<TimePicker format={24} />
<TimePicker format={12} />`;

  const hideSecondsCode = `<TimePicker format={24} hideSeconds />`;
</script>

### {m.tp_format_title()}

{m.tp_format_description()}

<Showcase columns={1} code={formatCode} minHeight="0" disablePanZoom showOverflow>
  <TimePicker format={24} />
  <TimePicker format={12} />
</Showcase>

### {m.global_hiding_columns()}

{m.tp_hiding_columns_description()}

<Showcase columns={1} code={hideSecondsCode} minHeight="0" disablePanZoom showOverflow>
  <TimePicker format={24} hideSeconds />
</Showcase>
