<script lang="ts">
  import { ProgressBar } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const valueCode = `
<ProgressBar value={30} />
<ProgressBar value={50} />
<ProgressBar value={70} />`;

  const indeterminateCode = `
<ProgressBar indeterminate />`;

  const hideRailCode = `
<ProgressBar value={50} hideRail />`;

  const statusCode = `
<ProgressBar value={50} status="paused" />
<ProgressBar value={50} status="error" />`;
</script>

### {m.pbar_value_title()}

{m.pbar_value_description()}

<Showcase minHeight="150px" minZoom={1} columns={1} code={valueCode}>
  <ProgressBar value={30} />
  <ProgressBar value={50} />
  <ProgressBar value={70} />
</Showcase>

### {m.pbar_indeterminate_title()}

{m.pbar_indeterminate_description()}

<Showcase minHeight="100px" minZoom={1} columns={1} code={indeterminateCode}>
  <ProgressBar indeterminate />
</Showcase>

### {m.pbar_hide_rail_title()}

{m.pbar_hide_rail_description()}

<Showcase minHeight="100px" minZoom={1} code={hideRailCode}>
  <ProgressBar value={50} hideRail />
</Showcase>

### {m.pbar_status_title()}

{m.pbar_status_description()}

<Showcase minHeight="100px" columns={1} code={statusCode}>
  <ProgressBar value={50} status="paused" />
  <ProgressBar value={50} status="error" />
</Showcase>
