<script lang="ts">
  import { DatePicker } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const formatCode = `
<DatePicker format="dd/MM/yyyy" />
<DatePicker format="MM/dd/yyyy" />`;

  const hideColumnsCode = `<DatePicker hideDays />`;
</script>

### {m.dp_format_title()}

{m.dp_format_description()}

<Showcase columns={1} code={formatCode} minHeight="0" disablePanZoom showOverflow>
  <DatePicker format="dd/MM/yyyy" />
  <DatePicker format="MM/dd/yyyy" />
</Showcase>

### {m.dp_hiding_columns_title()}

{m.dp_hiding_columns_description()}

<Showcase columns={1} code={hideColumnsCode} minHeight="0" disablePanZoom showOverflow>
  <DatePicker hideDays />
</Showcase>
