<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.dp_component_props_title()}

| **Name**         | **Type**                       | **Description**                              |
| ---------------- | ------------------------------ | -------------------------------------------- |
| `value`          | bindable `string`              | {m.dp_props_value_description()}             |
| `format`         | `'MM/dd/yyyy' \| 'dd/MM/yyyy'` | {m.dp_props_format_description()}            |
| `open`           | bindable `boolean`             | {m.dp_props_open_description()}              |
| `hideYears`      | `boolean`                      | {m.dp_props_hideyears_description()}         |
| `hideMonths`     | `boolean`                      | {m.dp_props_hidemonths_description()}        |
| `hideDays`       | `boolean`                      | {m.dp_props_hidedays_description()}          |
| `minYear`        | `number`                       | {m.dp_props_minyear_description()}           |
| `maxYear`        | `number`                       | {m.dp_props_maxyear_description()}           |
| `disabledDates`  | `Date[]`                       | {m.dp_props_disableddates_description()}     |
| `disabledMonths` | `Date[]`                       | {m.dp_props_disabledmonths_description()}    |
| `disabledYears`  | `Date[]`                       | {m.dp_props_disabledyears_description()}     |
| `element`        | bindable `HTMLElement`         | {m.dp_props_element_description()}           |
| `inputElement`   | bindable `HTMLInputElement`    | {m.dp_props_inputelement_description()}      |
