<script lang="ts">
  import { Button } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Button

{m.btn_description()}

<Showcase autoCenter>
  <Button appearance="accent" />
  <Button appearance="standard" />
  <Button appearance="subtle" />
  <Button disabled isMenuButton />
  <Button appearance="standard" disabled />
  <Button appearance="subtle" disabled />
</Showcase>

## {m.global_usage()}

```svelte
<script>
	import { Button } from 'fluentui-svelte';
</script>

<Button>I am a Button</Button>
```
