<script lang="ts">
  import { ToggleSwitch } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Toggle Switch

{m.tswitch_description()}

<Showcase>
  <ToggleSwitch />
  <ToggleSwitch label="Toggle me" />
  <ToggleSwitch label="I'm disabled" disabled />
</Showcase>

## {m.tswitch_usage_title()}

```svelte
<script>
	import { ToggleSwitch } from 'fluentui-svelte';
</script>

<ToggleSwitch />
<ToggleSwitch label="Toggle me" />
<ToggleSwitch label="I'm disabled" disabled />
```
