<script lang="ts">
  import { ToggleSwitch } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const statesCode = `
<ToggleSwitch label="Off" />
<ToggleSwitch label="On" checked />
<ToggleSwitch label="Disabled" disabled />`;
</script>

### {m.tswitch_states_title()}

{m.tswitch_states_description()}

<Showcase code={statesCode}>
  <ToggleSwitch label="Off" />
  <ToggleSwitch label="On" checked />
  <ToggleSwitch label="Disabled" disabled />
</Showcase>
