<script lang="ts">
  import { AutoSuggestBox, AutoSuggestBoxOption, InfoBar } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
  import { ParaglideMessage } from "@inlang/paraglide-js-svelte"; 
</script>

# AutoSuggestBox

{m.asb_description()}

<Showcase columns={1} >
  <AutoSuggestBox
    placeholder="Type a fruit..."
    suggestionChosen={(e, item) => console.log('Suggestion chosen:', item)}
    querySubmitted={(e, query) => console.log('Query submitted:', query)}
  >
    <AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
  </AutoSuggestBox>
</Showcase>

## {m.asb_usage_title()}

```svelte
<script>
	import { AutoSuggestBox } from 'fluentui-svelte';
</script>

<AutoSuggestBox
	placeholder="Type a fruit..."
	suggestionChosen={(e, item) => console.log('Suggestion chosen:', item)}
	querySubmitted={(e, query) => console.log('Query submitted:', query)}
>
	<AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
	<AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
	<AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
</AutoSuggestBox>
```

## {m.asb_component_api_title()}

{m.asb_component_api_description_before_link()} <a href="#component-props">{m.asb_component_api_description_link_text()}</a>.

### {m.asb_suggestions_title()}

<p class="fs-docs">
  <ParaglideMessage message={m.asb_suggestions_description} inputs={{}}>
    {#snippet code({ children, options })}
		  <code>
			  {@render children?.()}
		  </code>
	  {/snippet}
  </ParaglideMessage>
</p>

<InfoBar status="information" title={m.asb_keyboard_navigation_title()} style="multiline" hideCloseButton>
  <p>{m.asb_keyboard_navigation_description()}</p>
</InfoBar>

<AutoSuggestBox
  placeholder="Type a fruit..."
  suggestionChosen={(e, item) => console.log('Suggestion chosen:', item)}
  querySubmitted={(e, query) => console.log('Query submitted:', query)}
>
  <AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
  <AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
  <AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
</AutoSuggestBox>

### {m.asb_max_items_title()}

{m.asb_max_items_description()}

<Showcase columns={1} >
  <AutoSuggestBox
    placeholder="Type a fruit..."
    maxItemsInView={3}
  >
    <AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={3} value="Date">Date</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={4} value="Elderberry">Elderberry</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={5} value="Fig">Fig</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={6} value="Grape">Grape</AutoSuggestBoxOption>
  </AutoSuggestBox>
</Showcase>

### {m.asb_suggestion_chosen_title()}

{m.asb_suggestion_chosen_description()}

<Showcase columns={1} >
  <AutoSuggestBox
    placeholder="Type a fruit..."
    suggestionChosen={(e, item) => console.log('Suggestion chosen:', item)}
  >
    <AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
  </AutoSuggestBox>
</Showcase>

### {m.asb_query_submitted_title()}

{m.asb_query_submitted_description()}

<Showcase columns={1} >
  <AutoSuggestBox
    placeholder="Type a fruit..."
    querySubmitted={(e, query) => console.log('Query submitted:', query)}
  >
    <AutoSuggestBoxOption index={0} value="Apple">Apple</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={1} value="Banana">Banana</AutoSuggestBoxOption>
    <AutoSuggestBoxOption index={2} value="Cherry">Cherry</AutoSuggestBoxOption>
  </AutoSuggestBox>
</Showcase>

## {m.asb_component_props_title()}

| **Name**           | **Type**                                                  | **Description**                                                   |
| ------------------ | --------------------------------------------------------- | ---------------------------------------------------------------- |
| `placeholder`      | `string`                                                  | {m.asb_props_placeholder_description()}                             |
| `value`            | `string`                                                  | {m.asb_props_value_description()}                            |
| `open`             | `boolean`                                                 | {m.asb_props_open_description()}         |
| `multiselect`      | `boolean`                                                 | {m.asb_props_multiselect_description()}                            |
| `selectOnFocus`    | `boolean`                                                 | {m.asb_props_selectonfocus_description()} |
| `notFoundText`     | `string`                                                  | {m.asb_props_notfoundtext_description()} |
| `maxItemsInView`   | `number`                                                  | {m.asb_props_maxitemsinview_description()} |
| `ref`              | `HTMLElement`                                             | {m.asb_props_ref_description()}               |
| `suggestionChosen` | `(e: Event, selection: string) => void`                   | {m.asb_props_suggestionchosen_description()}                     |
| `querySubmitted`   | `(e: MouseEvent &#124; KeyboardEvent, query: string) => void` | {m.asb_props_querysubmitted_description()}                       |
