<script lang="ts">
  import { Checkbox } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Checkbox

{m.cb_description()}

<Showcase>
  <Checkbox wrapperAs="label">Default</Checkbox>
  <Checkbox wrapperAs="label" checked>Checked</Checkbox>
  <Checkbox wrapperAs="label" indeterminate>Indeterminate</Checkbox>
  <Checkbox wrapperAs="label" disabled>Disabled</Checkbox>
  <Checkbox wrapperAs="label" checked disabled>Checked & Disabled</Checkbox>
</Showcase>

## {m.cb_usage_title()}

```svelte
<script>
  import { Checkbox } from 'fluentui-svelte';
</script>

<Checkbox wrapperAs="label">Default</Checkbox>
```

## {m.cb_component_api_title()}

{m.cb_component_api_description_before_link()} <a href="#checkbox-props">{m.cb_component_api_description_link_text()}</a>.

### {m.cb_label_title()}

{m.cb_label_description()}

<Showcase minHeight="100px">
  <Checkbox />
  <Checkbox wrapperAs="label">FluentUI Checkbox</Checkbox>
  <Checkbox wrapperAs="label">Another Checkbox</Checkbox>
</Showcase>

### {m.cb_checked_title()}

{m.cb_checked_description()}

<Showcase minHeight="100px" columns={2}>
  <Checkbox wrapperAs="label">Unchecked</Checkbox>
  <Checkbox wrapperAs="label" checked>Checked</Checkbox>
</Showcase>

### {m.cb_indeterminate_title()}

{m.cb_indeterminate_description()}

<Showcase minHeight="100px" columns={1}>
  <Checkbox wrapperAs="label" indeterminate>Indeterminate</Checkbox>
</Showcase>

### {m.cb_disabled_title()}

{m.cb_disabled_description()}

<Showcase minHeight="100px">
  <Checkbox wrapperAs="label" disabled>Disabled</Checkbox>
  <Checkbox wrapperAs="label" checked disabled>Checked & Disabled</Checkbox>
</Showcase>

### {m.cb_value_title()}

{m.cb_value_description()}

```svelte
<Checkbox wrapperAs="label" value="checkbox-value">Checkbox with Value</Checkbox>
```

## {m.cb_checkbox_props_title()}

| **Name**            | **Type**                                 | **Description**                                                                 |
| ------------------- | ---------------------------------------- | ------------------------------------------------------------------------------- |
| `wrapperAs`         | `'div' \| 'label'`                       | {m.cb_props_wrapperas_description()} |
| `children`          | `Snippet`                                | {m.cb_props_children_description()} |
| `checked`           | `boolean`                                | {m.cb_props_checked_description()} |
| `indeterminate`     | `boolean`                                | {m.cb_props_indeterminate_description()} |
| `disabled`          | `boolean`                                | {m.cb_props_disabled_description()} |
| `value`             | `string`                                 | {m.cb_props_value_description()} |
| `wrapperAttributes` | `object`                                 | {m.cb_props_wrapperattributes_description()} |
| `ref`               | bindable `HTMLInputElement`              | {m.cb_props_ref_description()} |
| `wrapperRef`        | bindable `HTMLDivElement \| HTMLLabelElement` | {m.cb_props_wrapperref_description()} |
| Input Attributes    |                                          | {m.cb_props_inputattributes_description()} |
