<script lang="ts">
  import { Flyout } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Flyout

{m.flyout_description()}

<Showcase columns={1}>
  <div style="max-width: 300px; margin: auto;">
    <Flyout>
      <p>This is the content of the flyout.</p>
    </Flyout>
  </div>
</Showcase>

## {m.flyout_usage_title()}

```svelte
<script>
  import { Flyout } from 'fluentui-svelte';
</script>

<Flyout>
  <p>This is the content of the flyout.</p>
</Flyout>
```

{m.flyout_usage_description()}

## {m.flyout_component_props_title()}

| **Name**            | **Type**                                                  | **Description**                                                 |
| ------------------- | --------------------------------------------------------- | --------------------------------------------------------------- |
| `ref`               | Bindable `HTMLElement`                                    | {m.flyout_props_ref_description()}                              |
| `children`          | `Snippet`                                                 | {m.flyout_props_children_description()}                         |
| `floating`          | `boolean`                                                 | {m.flyout_props_floating_description()}                         |
| `reference`         | `HTMLElement`                                             | {m.flyout_props_reference_description()}                        |
| `placement`         | `Placement`                                               | {m.flyout_props_placement_description()}                        |
| `onPlacementChange` | `(placement: Placement) => void`                          | {m.flyout_props_onplacementchange_description()}                |
| `roundCorners`      | `'all'` \| `'top'` \| `'bottom'` \| `'left'` \| `'right'` | {m.flyout_props_roundcorners_description()}                     |
| `offset`            | `number`                                                  | {m.flyout_props_offset_description()}                           |
| Element Attributes  |                                                           | {m.flyout_props_elementattributes_description()}                |
