<script lang="ts">
  import { Hyperlink } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Hyperlink

{m.hl_description()}

<Showcase column={2} autoCenter>
  <Hyperlink href="/">Go to Home</Hyperlink>
  <Hyperlink href="/" disabled>Disabled Link</Hyperlink>
</Showcase>

## {m.hl_usage_title()}

```svelte
<script>
  import { Hyperlink } from 'fluentui-svelte';
</script>

<Hyperlink href="/">Go to Home</Hyperlink>
```

## {m.hl_props_title()}

| **Name**           | **Type**  | **Description**                                                             |
| ------------------ | --------- | --------------------------------------------------------------------------- |
| `href`             | `string`  | {m.hl_props_href_description()}                                             |
| `disabled`         | `boolean` | {m.hl_props_disabled_description()}                                         |
| `children`         | `Snippet` | {m.hl_props_children_description()}                                         |
| `ref`              | `HTMLAnchorElement` | {m.hl_props_ref_description()}                                   |
| Element Attributes |           | {m.hl_props_elementattributes_description()}                                |
