<script lang="ts">
  import { InfoBar } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# InfoBar

{m.ib_description()}

<Showcase columns={1} minHeight="280px">
  <InfoBar status="attention" title="Attention">
    <p>This is an attention message.</p>
  </InfoBar>
  <InfoBar status="warning" title="Warning">
    <p>This is a warning message.</p>
  </InfoBar>
  <InfoBar status="success" title="Success">
    <p>This is a success message.</p>
  </InfoBar>
</Showcase>

## {m.ib_usage_title()}

```svelte
<script lang="ts">
  import { InfoBar } from 'fluentui-svelte';
</script>

<InfoBar status="information" title="Information">
  <p>This is an informational message.</p>
</InfoBar>
```

## {m.ib_component_api_title()}

{m.ib_component_api_description_prefix()} <a href="#component-props">{m.ib_component_api_link_text()}</a>.

### {m.ib_status_title()}

{m.ib_status_description()}

<Showcase columns={1} minHeight="350px">
  <InfoBar status="information" title="Information">
    <p>This is an informational message.</p>
  </InfoBar>
  <InfoBar status="attention" title="Attention">
    <p>This is an attention message.</p>
  </InfoBar>
  <InfoBar status="warning" title="Warning">
    <p>This is a warning message.</p>
  </InfoBar>
  <InfoBar status="critical" title="Critical">
    <p>This is a critical message.</p>
  </InfoBar>
  <InfoBar status="success" title="Success">
    <p>This is a success message.</p>
  </InfoBar>
</Showcase>

### {m.ib_style_title()}

{m.ib_style_description()}

<Showcase columns={1} minHeight="250px">
  <InfoBar status="information" style="inline" title="Inline Style">
    <p>This is an inline styled InfoBar.</p>
  </InfoBar>
  <InfoBar status="information" style="multiline" title="Multiline Style">
    <p>This is a multiline styled InfoBar.</p>
  </InfoBar>
</Showcase>

### {m.ib_hide_close_button_title()}

{m.ib_hide_close_button_description()}

<Showcase columns={1} minHeight="250px">
  <InfoBar status="information" title="Without Close Button" hideCloseButton>
    <p>This InfoBar does not have a close button.</p>
  </InfoBar>
  <InfoBar status="information" title="With Close Button">
    <p>This InfoBar has a close button.</p>
  </InfoBar>
</Showcase>

### {m.ib_component_props_title()}

| **Name**          | **Type**                     | **Description**                                                                                                     |
| ----------------- | ---------------------------- | ------------------------------------------------------------------------------------------------------------------- |
| `status`          | `string`                     | {m.ib_props_status_description()}                                                                      |
| `style`           | `string`                     | {m.ib_props_style_description()}                                                                       |
| `title`           | `string`                     | {m.ib_props_title_description()}                                                                       |
| `icon`            | `Snippet` &vert; `Component` | {m.ib_props_icon_description()}                                                                        |
| `iconSize`        | `number`                     | {m.ib_props_iconsize_description()}                                                                    |
| `hideCloseButton` | `boolean`                    | {m.ib_props_hideclosebutton_description()}                                                             |
| `children`        | `Snippet`                    | {m.ib_props_children_description()}                                                                    |
