<!-- <script lang="ts">
  import { ListView, ListViewItem, ListViewN, ListViewNItem, InfoBar, Button } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  let list = ["Chile", "Colombia", "Dominican Republic", "Costa Rica", "Venezuela"];
  let selected = ['Chile', 'Dominican Republic', "Venezuela"];
</script>

# ListView

{m.lv_description()}

<Showcase columns={1} minHeight="250px">
  <ListView selectedItems={selected}>
    {#each list as item (item)}
      <ListViewItem value={item}>{item}</ListViewItem>
    {/each}
  </ListView>
</Showcase>

## {m.lv_usage_title()}

```svelte
<script>
  import { ListView, ListViewItem } from 'fluentui-svelte';
  let list = ['A', 'B', 'C'];
  let selected = ['A'];
</script>

<ListView selectedItems={selected}>
  {#each list as item (item)}
    <ListViewItem value={item}>{item}</ListViewItem>
  {/each}
</ListView>
```

## {m.lv_listview_api_title()}

<InfoBar status="warning" style="multiline" title={m.lv_best_practices_title()} hideCloseButton>
  <p>
    {m.lv_best_practices_description_prefix()} <a href="https://react.fluentui.dev/?path=/docs/components-list--docs#best-practices">List</a> {m.lv_best_practices_description_suffix()}
  </p>
</InfoBar>

### {m.lv_listview_as_title()}

{m.lv_listview_as_description()}

### {m.lv_listview_shape_title()}

{m.lv_listview_shape_description()}

### {m.lv_navigation_mode_title()}

{m.lv_navigation_mode_description()}

### {m.lv_listview_props_title()}

| **Name**            | **Type**                    | **Description**                                                                               |
| ------------------- | --------------------------- | --------------------------------------------------------------------------------------------- |
| `as`                | `string`                    | {m.lv_listview_props_as_description()}                                                        |
| `selectionMode`     | `string`                    | {m.lv_listview_props_selectionmode_description()}                                             |
| `navigationMode`    | `string`                    | {m.lv_listview_props_navigationmode_description()}                                            |
| `selectedItems`     | `string[]`                  | {m.lv_listview_props_selecteditems_description()}                                             |
| `shape`             | `string`                    | {m.lv_listview_props_shape_description()}                                                     |
| `onSelectionChange` | `(Event, string[]) => void` | {m.lv_listview_props_onselectionchange_description()}                                         |
| `element`           | Dynamic                     | {m.lv_listview_props_element_description()}                                                   |
| `children`          | Only `ListViewItem`         | {m.lv_listview_props_children_description_prefix()} <a href="/">{m.lv_listview_props_children_link_text()}</a> |
| Element Attributes  | Dynamic                     | {m.lv_listview_props_elementattributes_description()}                                         |

## {m.lv_listviewitem_api_title()}

### {m.lv_listviewitem_as_title()}

{m.lv_listviewitem_as_description()}

### {m.lv_listviewitem_shape_title()}

{m.lv_listviewitem_shape_description()}

### {m.lv_listviewitem_value_title()}

{m.lv_listviewitem_value_description()}

### {m.lv_listviewitem_on_action_title()}

{m.lv_listviewitem_on_action_description()}

### {m.lv_listviewitem_checkmark_title()}

{m.lv_listviewitem_checkmark_description_prefix()} [Checkbox](/docs/components/checkbox) {m.lv_listviewitem_checkmark_description_suffix()}

#### {m.lv_checkmark_example_title()}

<ListView as="div" navigationMode="composite">
  <ListViewItem as="div" value="card" role="row" style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button tabindex="0" onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewItem>
  <ListViewItem value="card" role="row" style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button tabindex="0" onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
    <i tabindex="0" role="none" data-tabster-dummy="" aria-hidden="true" style="position: fixed; height: 1px; width: 1px; opacity: 0.001; z-index: -1; content-visibility: hidden; top: 0px; left: 0px;"></i>
        Install
      </Button>
    </div>
  </ListViewItem>
  <ListViewItem value="card" role="row" checkmark={{ style: 'position: absolute; top: 10px; left: 10px; z-index: 10;' }} style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewItem>
  <ListViewItem value="card" role="row" checkmark={{ style: 'position: absolute; top: 10px; left: 10px; z-index: 10;' }} style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewItem>
</ListView>



<ListViewN as="div" navigationMode="composite">
  <ListViewNItem as="div" value="card" role="row" style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button tabindex="0" onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewNItem>
  <ListViewNItem value="card" role="row" style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button tabindex="0" onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
    <i tabindex="0" role="none" data-tabster-dummy="" aria-hidden="true" style="position: fixed; height: 1px; width: 1px; opacity: 0.001; z-index: -1; content-visibility: hidden; top: 0px; left: 0px;"></i>
        Install
      </Button>
    </div>
  </ListViewNItem>
  <ListViewNItem value="card" role="row" checkmark={{ style: 'position: absolute; top: 10px; left: 10px; z-index: 10;' }} style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewNItem>
  <ListViewNItem value="card" role="row" checkmark={{ style: 'position: absolute; top: 10px; left: 10px; z-index: 10;' }} style="padding: 0" onAction={(e, d) => alert("Triggered Primary Action")}>
    <div style="width: 100%; height: 100px; border-radius: 8px; padding: 25px; background: #f3f3f3; display: flex; flex-direction: column; justify-content: center; align-items: center;">
      Card Content Inside ListItem...
      <Button onclick={(e) => {
        e.stopPropagation();
        alert("Installing")
      }}>
        Install
      </Button>
    </div>
  </ListViewNItem>
</ListViewN>

```svelte
<script>
  import { ListViewItem } from 'fluentui-svelte';
</script>

<ListViewItem
  value="card"
  role="row"
  checkmark={{ style: 'position: absolute; top: 10px; left: 10px; z-index: 10;' }}
  onAction={(e, d) => alert('Triggered Primary Action')}
>
  <div style="...">
    Card Content Inside ListItem...
    <Button onclick={handleEvent}>Install</Button>
  </div>
</ListViewItem>
```

{m.lv_checkmark_example_note_description()}

### {m.lv_listviewitem_props_title()}

| **Name**           | **Type**                       | **Description**                                                                               |
| ------------------ | ------------------------------ | --------------------------------------------------------------------------------------------- |
| `as`               | `string`                       | {m.lv_listviewitem_props_as_description()}                                                    |
| `active`           | `boolean`                      | {m.lv_listviewitem_props_active_description()}                                                |
| `shape`            | `string`                       | {m.lv_listviewitem_props_shape_description()}                                                 |
| `value`            | `string`                       | {m.lv_listviewitem_props_value_description()}                                                 |
| `onAction`         | `(MouseEvent, string) => void` | {m.lv_listviewitem_props_onaction_description()}                                              |
| `onFocus`          | `(Event, string) => void`      | {m.lv_listviewitem_props_onfocus_description()}                                               |
| `role`             | `string`                       | {m.lv_listviewitem_props_role_description()}                                                  |
| `disabled`         | `boolean`                      | {m.lv_listviewitem_props_disabled_description()}                                              |
| `checkmark`        | `object`                       | {m.lv_listviewitem_props_checkmark_description()}                                             |
| `children`         | `Snippet`                      | {m.lv_listviewitem_props_children_description()}                                              |
| Element Attributes | Dynamic                        | {m.lv_listviewitem_props_elementattributes_description()}                                     | -->
