<script>
  import { Button, SplitButton, Menu, MenuTrigger, ContextMenuTrigger, MenuPopover, MenuList, MenuGroup, MenuItem, MenuDivider, MenuItemCheckbox, MenuItemSwitch, MenuItemRadio } from '$lib/index.js';
  import { AccessTimeRegular, ChevronRightFilled } from 'fluentui-icons-svelte';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  let checkedValues = $state({});
</script>

# Menu

{m.menu_description()}

<Menu>
  <MenuTrigger>
    {#snippet children({state, menuTriggerProps, primaryButtonProps})}
      <Button bind:ref={state.ref} {...menuTriggerProps}>Open FS Menu</Button>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuGroup header="Group 1">
        <MenuItem >
          Item 1
        </MenuItem>
        <MenuItem >
          Item 2
        </MenuItem>
      </MenuGroup>
      <MenuDivider />
      <MenuGroup header="Group 2">
        <MenuItem>
          Item 3
        </MenuItem>
        <MenuItem>
          Item 4
        </MenuItem>
      </MenuGroup>
    </MenuList>
  </MenuPopover>
</Menu>

{m.menu_floating_ui_description_prefix()} [Floating UI](https://floating-ui.com/) {m.menu_floating_ui_description_suffix()}

{m.menu_required_components_description()}

- `Menu`: {m.menu_component_menu_description()}
- `MenuTrigger`: {m.menu_component_menutrigger_description()}
- `ContextMenuTrigger`: {m.menu_component_contextmenutrigger_description()}
- `MenuPopover`: {m.menu_component_menupopover_description()}
- `MenuList`: {m.menu_component_menulist_description()}
- `MenuItem`: {m.menu_component_menuitem_description()}
- `SplitButton` or `Button`: {m.menu_component_button_or_splitbutton_description()}

{m.menu_optional_components_description()}

- `MenuGroup`: {m.menu_component_menugroup_description()}
- `MenuDivider`: {m.menu_component_menudivider_description()}
- `MenuItemCheckbox`: {m.menu_component_menuitemcheckbox_description()}
- `MenuItemSwitch`: {m.menu_component_menuitemswitch_description()}
- `MenuItemRadio`: {m.menu_component_menuitemradio_description()}

## {m.menu_usage_title()}

{m.menu_usage_description_prefix()} `children()` `snippet` {m.menu_usage_description_suffix()}

```svelte
<script>
  import { 
    Button, 
    Menu, 
    MenuTrigger, 
    MenuPopover, 
    MenuList, 
    MenuGroup, 
    MenuItem, 
    MenuDivider 
  } from 'fluentui-svelte';
</script>

<Menu>
  <MenuTrigger>
    {#snippet children({ state, menuTriggerProps, primaryButtonProps })}
      <Button bind:ref={state.ref} {...menuTriggerProps}>Open Menu</Button>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuGroup header="Group 1">
        <MenuItem>Item 1</MenuItem>
        <MenuItem>Item 2</MenuItem>
      </MenuGroup>
      <MenuDivider />
      <MenuGroup header="Group 2">
        <MenuItem>Item 3</MenuItem>
        <MenuItem>Item 4</MenuItem>
      </MenuGroup>
    </MenuList>
  </MenuPopover>
</Menu>
```

## {m.menu_component_props_menu_title()}

| **Name**                  | **Type**                                                    | **Description**                                                                          |
| ------------------------- | ----------------------------------------------------------- | ---------------------------------------------------------------------------------------- |
| `checkedValues`           | `Record<string, string[]>`                                  | {m.menu_props_checkedvalues_description()}                                               |
| `onCheckedValueChange`    | `(e: Event, checkedValues: Record<string, string[]>) => void` | {m.menu_props_oncheckedvaluechange_description()}                                     |
| `hasCheckmarks`           | `boolean`                                                   | {m.menu_props_hascheckmarks_description()}                                               |
| `hasIcons`                | `boolean`                                                   | {m.menu_props_hasicons_description()}                                                    |
| `openingDelay`            | `number`                                                    | {m.menu_props_openingdelay_description()}                                                |
| `open`                    | `boolean`                                                   | {m.menu_props_open_description()}                                                        |
| `onOpenChange`            | `(e: Event, open: boolean) => void`                         | {m.menu_props_onopenchange_description()}                                                |
| `openOnHover`             | `boolean`                                                   | {m.menu_props_openonhover_description()}                                                 |
| `persistOnItemActivation` | `boolean`                                                   | {m.menu_props_persistonitemactivation_description()}                                     |
| `positionConfig`          | `Partial<ComputePositionConfig>`                            | {m.menu_props_positionconfig_description()}                                              |

## {m.menu_component_props_menutrigger_title()}

| **Name**   | **Type**                            | **Description**                                             |
| ---------- | ----------------------------------- | ----------------------------------------------------------- |
| `shape`    | `rounded` \| `circular` \| `square` | {m.menu_props_shape_description()}                          |
| `icon`     | `Snippet` \| `Component`            | {m.menu_props_icon_description()}                           |
| `disabled` | `boolean`                           | {m.menu_props_disabled_description()}                       |

## {m.menu_component_props_menuitem_title()}

| **Name**           | **Type**                 | **Description**                                                      |
| ------------------ | ------------------------ | -------------------------------------------------------------------- |
| `icon`             | `Snippet` \| `Component` | {m.menu_props_menuitem_icon_description()}                           |
| `subText`          | `string`                 | {m.menu_props_subtext_description()}                                 |
| `secondaryContent` | `string`                 | {m.menu_props_secondarycontent_description()}                        |
| `href`             | `string`                 | {m.menu_props_href_description()}                                    |
| `disabled`         | `boolean`                | {m.menu_props_menuitem_disabled_description()}                       |
| `onClick`          | `(e: Event) => void`     | {m.menu_props_onclick_description()}                                 |

## {m.menu_component_props_menuitemcheckboxswitchradio_title()}

| **Name**             | **Type**  | **Description**                                                                |
| -------------------- | --------- | ------------------------------------------------------------------------------ |
| All `MenuItem` props |           | {m.menu_props_allmenuitemprops_description()}                                  |
| `value`              | `string`  | {m.menu_props_value_description()}                                             |
| `checked`            | `boolean` | {m.menu_props_checked_description()}                                           |
| `name`               | `string`  | {m.menu_props_name_description()}                                              |

## {m.menu_component_props_menugroup_title()}

| **Name** | **Type** | **Description**                                  |
| -------- | -------- | ------------------------------------------------ |
| `header` | `string` | {m.menu_props_header_description()}              |

## {m.menu_more_examples_title()}

### {m.menu_checkable_nested_submenus_title()}

<Menu hasCheckmarks hasIcons {checkedValues} onCheckedValueChange={(e, value) => {
  checkedValues = value;
}}>
  <MenuTrigger>
    {#snippet children({state, menuTriggerProps, primaryButtonProps})}
      <Button isMenuButton bind:ref={state.ref} {...menuTriggerProps}>
        <AccessTimeRegular /> Open Menu
      </Button>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuItem subText="An explanation here">
        Item With Subtext
      </MenuItem>
      <MenuDivider />
      <MenuItem disabled>
        I'm Disabled
      </MenuItem>
      <MenuItemCheckbox name="item4" value="item4" icon={AccessTimeRegular} subText="Click doesn't close menu">
        I'm a checkbox
      </MenuItemCheckbox>
      <MenuItemSwitch subText="Click doesn't close menu">
        I'm a switch
      </MenuItemSwitch>
      <MenuItemRadio name="item6" value="item6" icon={AccessTimeRegular} subText="Click closes menu">
        I'm a radio
      </MenuItemRadio>
      <Menu>
        <MenuTrigger>
          {#snippet children({state, menuTriggerProps, primaryButtonProps})}
            <Button bind:ref={state.ref} {...menuTriggerProps}>I'm a nested menu</Button>
          {/snippet}
        </MenuTrigger>
        <MenuPopover>
          <MenuList>
            <MenuItem >
              Item 1
            </MenuItem>
            <MenuItem >
              Item 2
            </MenuItem>
            <MenuDivider />
            <MenuItem>
              Item 3
            </MenuItem>
            <Menu>
              <MenuTrigger>
                {#snippet children({state, menuTriggerProps, primaryButtonProps})}
                  <Button bind:ref={state.ref} icon={ChevronRightFilled} {...menuTriggerProps}>I'm a nested menu</Button>
                {/snippet}
              </MenuTrigger>
              <MenuPopover>
                <MenuList>
                    <MenuItem >
                      Item 1
                    </MenuItem>
                    <MenuItem >
                      Item 2
                    </MenuItem>
                </MenuList>
              </MenuPopover>
            </Menu>
          </MenuList>
        </MenuPopover>
      </Menu>
    </MenuList>
  </MenuPopover>
</Menu>

```svelte
<script>
  import { 
    Button, 
    Menu, 
    MenuTrigger, 
    MenuPopover, 
    MenuList, 
    MenuGroup, 
    MenuItem, 
    MenuDivider, 
    MenuItemCheckbox, 
    MenuItemSwitch, 
    MenuItemRadio 
  } from 'fluentui-svelte';
  import { AccessTimeRegular, ChevronRightFilled } from 'fluentui-icons-svelte';
</script>

<Menu hasCheckmarks hasIcons {checkedValues} onCheckedValueChange={(e, value) => {
  checkedValues = value;
}}>
  <MenuTrigger>
    {#snippet children({state, menuTriggerProps, primaryButtonProps})}
      <Button isMenuButton bind:ref={state.ref} {...menuTriggerProps}>
        <AccessTimeRegular /> Open Menu
      </Button>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuItem subText="Subtext for Item 1">
        Item 1
      </MenuItem>
      <MenuItem >
        Item 2
      </MenuItem>
      <MenuDivider />
      <MenuItem disabled>
        Item 3
      </MenuItem>
      <MenuItemCheckbox name="item4" value="item4" icon={AccessTimeRegular}>
        Item 4
      </MenuItemCheckbox>
      <MenuItemSwitch>
        Item 5
      </MenuItemSwitch>
      <MenuItemRadio name="item6" value="item6" icon={AccessTimeRegular}>
        Item 6
      </MenuItemRadio>
      <MenuItem icon={AccessTimeRegular}>
        Menu Button
      </MenuItem>
      <Menu>
        <MenuTrigger>
          {#snippet children({state, menuTriggerProps, primaryButtonProps})}
            <Button bind:ref={state.ref} {...menuTriggerProps}> Open Menu 2</Button>
          {/snippet}
        </MenuTrigger>
        <MenuPopover>
          <MenuList>
            <MenuItem >
              Item 1
            </MenuItem>
            <MenuItem >
              Item 2
            </MenuItem>
            <MenuDivider />
            <MenuItem disabled>
              Item 3
            </MenuItem>
            <MenuItem>
              Item 4
            </MenuItem>
            <Menu>
              <MenuTrigger>
                {#snippet children({state, menuTriggerProps, primaryButtonProps})}
                  <Button 
                    bind:ref={state.ref}
                    icon={ChevronRightFilled} 
                    {...menuTriggerProps}
                  >
                    Open Menu 3
                  </Button>
                {/snippet}
              </MenuTrigger>
              <MenuPopover>
                <MenuList>
                    <MenuItem >
                      Item 1
                    </MenuItem>
                    <MenuItem >
                      Item 2
                    </MenuItem>
                  <MenuDivider />
                    <MenuItem disabled>
                      Item 3
                    </MenuItem>
                    <MenuItem>
                      Item 4
                    </MenuItem>
                </MenuList>
              </MenuPopover>
            </Menu>
          </MenuList>
        </MenuPopover>
      </Menu>
    </MenuList>
  </MenuPopover>
</Menu>
```

### {m.menu_splitbutton_trigger_title()}

<Menu>
  <MenuTrigger>
    {#snippet children({state, menuTriggerProps, primaryButtonProps})}
      <SplitButton bind:menuTriggerRef={state.ref} menuTriggerProps={menuTriggerProps} primaryButtonProps={{onclick: () => alert('Primary action'), ...primaryButtonProps}}>
        Primary Action
      </SplitButton>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuGroup header="Group 1">
        <MenuItem >
          Item 1
        </MenuItem>
        <MenuItem >
          Item 2
        </MenuItem>
      </MenuGroup>
      <MenuDivider />
      <MenuGroup header="Group 2">
        <MenuItem>
          Item 3
        </MenuItem>
        <MenuItem>
          Item 4
        </MenuItem>
      </MenuGroup>
    </MenuList>
  </MenuPopover>
</Menu>

```svelte
<script>
  import { 
    SplitButton, 
    Menu, 
    MenuTrigger, 
    MenuPopover, 
    MenuList, 
    MenuGroup, 
    MenuItem, 
    MenuDivider 
  } from 'fluentui-svelte';
</script>

<Menu>
  <MenuTrigger>
    {#snippet children({state, menuTriggerProps, primaryButtonProps})}
      <SplitButton 
        bind:menuTriggerRef={state.ref} 
        menuTriggerProps={menuTriggerProps} 
        primaryButtonProps={{onclick: () => alert('Primary action'), ...primaryButtonProps}}
      >
        Open Menu
      </SplitButton>
    {/snippet}
  </MenuTrigger>
  <MenuPopover>
    <MenuList>
      <MenuGroup header="Group 1">
        <MenuItem >
          Item 1
        </MenuItem>
        <MenuItem >
          Item 2
        </MenuItem>
      </MenuGroup>
      <MenuDivider />
      <MenuGroup header="Group 2">
        <MenuItem>
          Item 3
        </MenuItem>
        <MenuItem>
          Item 4
        </MenuItem>
      </MenuGroup>
    </MenuList>
  </MenuPopover>
</Menu>
```

## {m.menu_context_menu_title()}

{m.menu_context_menu_description_prefix()} `MenuTrigger` {m.menu_context_menu_description_middle()} `ref` {m.menu_context_menu_description_suffix()} `document.body` {m.menu_context_menu_description_end()}

<div id="context-menu-box" style="width: 100%; height: 200px; border: 1px dashed black; border-radius: 8px; display: flex; align-items: center; justify-content: center;">
  Right click anywhere in this box to open the context menu.
</div>
<Menu>
  <ContextMenuTrigger ref={globalThis.document ? document?.querySelector('#context-menu-box') : undefined} />
  <MenuPopover>
    <MenuList>
      <MenuGroup header="Group 1">
        <MenuItem>Item 1</MenuItem>
        <MenuItem>Item 2</MenuItem>
      </MenuGroup>
      <MenuDivider />
      <MenuGroup header="Group 2">
        <MenuItem>Item 3</MenuItem>
        <MenuItem>Item 4</MenuItem>
      </MenuGroup>
    </MenuList>
  </MenuPopover>
</Menu>
