<script>
  import { ProgressRing } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Progress Ring

{m.pring_description()}

<Showcase columns={4}>
  <ProgressRing value={50} />
  <ProgressRing value={75} size={60} />
  <ProgressRing value={100} indeterminate />
  <ProgressRing value={100} size={80} indeterminate />
  <ProgressRing value={50} hideRail/>
  <ProgressRing value={75} indeterminate  hideRail/>
</Showcase>

## {m.pring_usage_title()}

```svelte
<script>
  import { ProgressRing } from 'fluentui-svelte';
</script>

<ProgressRing value={50} />
```

## {m.pring_component_api_title()}

{m.pring_component_api_description()}

### {m.pring_value_title()}

{m.pring_value_description()}

<Showcase columns={5} minHeight="120px">
  <ProgressRing value={0} />
  <ProgressRing value={25} />
  <ProgressRing value={50} />
  <ProgressRing value={75} />
  <ProgressRing value={100} />
</Showcase>

### {m.pring_indeterminate_title()}

{m.pring_indeterminate_description()}

<Showcase columns={3} minHeight="120px">
  <ProgressRing indeterminate />
  <ProgressRing indeterminate status="paused"/>
  <ProgressRing indeterminate status="error" />
</Showcase>

### {m.pring_hide_rail_title()}

{m.pring_hide_rail_description()}

<Showcase columns={3} minHeight="120px">
  <ProgressRing value={50} hideRail />
  <ProgressRing value={75} hideRail />
  <ProgressRing value={100} hideRail />
</Showcase>

### {m.pring_status_title()}

{m.pring_status_description()}

<Showcase columns={3} minHeight="120px">
  <ProgressRing value={40} />
  <ProgressRing value={50} status="paused" />
  <ProgressRing value={75} status="error" />
</Showcase>

## {m.pring_component_props_title()}

| **Name**        | **Type**              | **Description**                                             |
| --------------- | --------------------- | ----------------------------------------------------------- |
| `value`         | `number`              | {m.pring_props_value_description()} |
| `min`           | `number`              | {m.pring_props_min_description()} |
| `max`           | `number`              | {m.pring_props_max_description()} |
| `size`          | `number`              | {m.pring_props_size_description()} |
| `indeterminate` | `boolean`             | {m.pring_props_indeterminate_description()} |
| `hideRail`      | `boolean`             | {m.pring_props_hiderail_description()} |
| `status`        | `'paused' \| 'error'` | {m.pring_props_status_description()} |
| `ref`           | `SVGElement`          | {m.pring_props_ref_description()} |
| `railElement`   | `SVGCircleElement`    | {m.pring_props_railelement_description()} |
| `trackElement`  | `SVGCircleElement`    | {m.pring_props_trackelement_description()} |
