<script lang="ts">
  import { TextArea } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# TextArea

{m.ta_description()}

<Showcase columns={1} disablePanZoom showOverflow>
  <TextArea placeholder="Type your message here..." />
</Showcase>

## {m.global_usage()}

```svelte
<script>
	import { TextArea } from 'fluentui-svelte';
</script>

<TextArea placeholder="Type your message here..." />
```