<script lang="ts">
  import { Label } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
</script>

# Label

A Label provides an accessible caption for a form control. It supports different sizes and weights, can be marked as required or disabled, and can be positioned relative to the control it wraps.

<Showcase columns={1}>
  <Label label="Label" />
</Showcase>

## Usage

```svelte
<script>
	import { Label } from 'fluentui-svelte';
</script>

<Label label="Email" />
```
