<script lang="ts">
  import { Label } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Label

{m.label_description()}

<Showcase columns={1}>
  <Label label="Label" />
</Showcase>

## {m.global_usage()}

```svelte
<script>
	import { Label } from 'fluentui-svelte';
</script>

<Label label="Email" />
```
