<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.label_component_props_title()}

| **Name**        | **Type**                                    | **Description**                              |
| --------------- | ------------------------------------------- | -------------------------------------------- |
| `label`         | `string`                                    | {m.label_props_label_description()}          |
| `size`          | `'small' \| 'medium' \| 'large'`            | {m.label_props_size_description()}           |
| `weight`        | `'regular' \| 'semibold'`                   | {m.label_props_weight_description()}         |
| `labelPosition` | `'before' \| 'after' \| 'above' \| 'below'` | {m.label_props_labelposition_description()}  |
| `required`      | `{ message?: string; abbr?: string }`       | {m.label_props_required_description()}       |
| `disabled`      | `boolean`                                   | {m.label_props_disabled_description()}       |
| `class`         | `string`                                    | {m.label_props_class_description()}          |
| `ref`           | bindable `HTMLLabelElement`                 | {m.label_props_ref_description()}            |
| `children`      | `Snippet`                                   | {m.label_props_children_description()}       |
