<script lang="ts">
  import { Hyperlink } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const disabledCode = `
<Hyperlink href="/" disabled>Disabled Link</Hyperlink>`;
</script>

### Disabled

{m.generated_fs_hyperlink_props_props_disabled()}

<Showcase column={2} autoCenter code={disabledCode}>
  <Hyperlink href="/" disabled>Disabled Link</Hyperlink>
</Showcase>
