<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.cdp_component_props_title()}

| **Name**           | **Type**                     | **Description**                              |
| ------------------ | ---------------------------- | -------------------------------------------- |
| `value`            | bindable `Date \| null`      | {m.cdp_props_value_description()}            |
| `locale`           | `string`                     | {m.cdp_props_locale_description()}           |
| `format`           | `Intl.DateTimeFormatOptions` | {m.cdp_props_format_description()}           |
| `calendarPosition` | `object`                     | {m.cdp_props_calendarposition_description()} |
| `blackoutDates`    | `Date[]`                     | {m.cdp_props_blackoutdates_description()}    |
| `minDate`          | `Date`                       | {m.cdp_props_mindate_description()}          |
| `maxDate`          | `Date`                       | {m.cdp_props_maxdate_description()}          |
| `weekStart`        | `number`                     | {m.cdp_props_weekstart_description()}        |
| `headers`          | `object`                     | {m.cdp_props_headers_description()}          |
| `onChange`         | `(value: Date) => void`      | {m.cdp_props_onchange_description()}         |
| `element`          | bindable `HTMLDivElement`    | {m.cdp_props_element_description()}          |
