<script lang="ts">
  import { DropdownSelect, DropdownSelectOption, InfoBar } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Dropdown Select

```ts
import { DropdownSelect } from 'fluentui-svelte';
```

{m.ds_description()}

<InfoBar status="critical" style="multiline" title={m.ds_early_access_title()} hideCloseButton>
  <p>
    {m.ds_early_access_description()}
  </p>
</InfoBar>

<Showcase columns={1} minHeight="0" disablePanZoom showOverflow>
  <DropdownSelect>
    <DropdownSelectOption value="A">Option A</DropdownSelectOption>
    <DropdownSelectOption value="B">Option B</DropdownSelectOption>
    <DropdownSelectOption value="C">Option C</DropdownSelectOption>
  </DropdownSelect>
</Showcase>
