<script lang="ts">
  import { DropdownSelect, DropdownSelectOption, Persona } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const customCode = `
<DropdownSelect>
  <DropdownSelectOption value="John Doe" text="John Doe">
    <Persona name="John Doe" primaryText="Software Engineer" presence={{ status: 'available' }} avatar={{ color: 'colorful', idForColor: '' }} />
  </DropdownSelectOption>
  <DropdownSelectOption value="B">Option B</DropdownSelectOption>
  <DropdownSelectOption value="C">Option C</DropdownSelectOption>
</DropdownSelect>`;

  const multipleCode = `
<DropdownSelect multiple>
  <DropdownSelectOption value="A">Option A</DropdownSelectOption>
  <DropdownSelectOption value="B">Option B</DropdownSelectOption>
  <DropdownSelectOption value="C">Option C</DropdownSelectOption>
</DropdownSelect>`;
</script>

### {m.ds_custom_option_title()}

{m.ds_custom_option_description()}

<Showcase columns={1} code={customCode} minHeight="0" disablePanZoom showOverflow>
  <DropdownSelect>
    <DropdownSelectOption value="John Doe" text="John Doe">
      <Persona name="John Doe" primaryText="Software Engineer" presence={{ status: 'available' }} avatar={{ color: 'colorful', idForColor: '' }} />
    </DropdownSelectOption>
    <DropdownSelectOption value="B">Option B</DropdownSelectOption>
    <DropdownSelectOption value="C">Option C</DropdownSelectOption>
  </DropdownSelect>
</Showcase>

### {m.ds_multiple_title()}

{m.ds_multiple_description()}

<Showcase columns={1} code={multipleCode} minHeight="0" disablePanZoom showOverflow>
  <DropdownSelect multiple>
    <DropdownSelectOption value="A">Option A</DropdownSelectOption>
    <DropdownSelectOption value="B">Option B</DropdownSelectOption>
    <DropdownSelectOption value="C">Option C</DropdownSelectOption>
  </DropdownSelect>
</Showcase>
