<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.ds_component_props_title()}

| **Name**          | **Type**                      | **Description**                              |
| ----------------- | ----------------------------- | -------------------------------------------- |
| `value`           | bindable `string \| string[]` | {m.ds_props_value_description()}             |
| `multiple`        | `boolean`                     | {m.ds_props_multiple_description()}          |
| `placeholder`     | `string`                      | {m.ds_props_placeholder_description()}       |
| `hidePlaceholder` | `boolean`                     | {m.ds_props_hideplaceholder_description()}   |
| `ref`             | bindable `HTMLSelectElement`  | {m.ds_props_ref_description()}               |
| `wrapperRef`      | bindable `HTMLDivElement`     | {m.ds_props_wrapperref_description()}        |
| `children`        | `Snippet`                     | {m.ds_props_children_description()}          |

## {m.ds_dropdownselectoption_props_title()}

| **Name**   | **Type**  | **Description**                             |
| ---------- | --------- | ------------------------------------------- |
| `value`    | `string`  | {m.ds_option_props_value_description()}     |
| `text`     | `string`  | {m.ds_option_props_text_description()}      |
| `children` | `Snippet` | {m.ds_option_props_children_description()}  |
