<script lang="ts">
  import { Flyout } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const roundCornersCode = `
<Flyout roundCorners="top">
  <p>This is the content of the flyout.</p>
</Flyout>`;
</script>

### {m.flyout_round_corners_title()}

{m.flyout_round_corners_description()}

<Showcase columns={1} code={roundCornersCode}>
  <div style="max-width: 300px; margin: auto;">
    <Flyout roundCorners="top">
      <p>This is the content of the flyout.</p>
    </Flyout>
  </div>
</Showcase>
