<script lang="ts">
  import { I18nMarkupMessage } from '@jlacostaec/paraglide-markup-svelte';
  import { AppWindow, TitleBar, TitleBarLeftControls, TitleBarRightControls } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { AppsRegular } from 'fluentui-icons-svelte';
  import { m } from '$i18n/messages.js';
</script>

# AppWindow

{m.app_window_description()}

<Showcase columns={1} columnWidth="400px" minHeight="0" disablePanZoom showOverflow>
  <AppWindow width={400} height={200}>
    <TitleBar>
      {#snippet leftControls()}
        <TitleBarLeftControls appIcon={AppsRegular} appName="Contoso" />
      {/snippet}
      {#snippet rightControls()}
        <TitleBarRightControls />
      {/snippet}
    </TitleBar>
    <p style="margin: 0; padding: 1rem">This is the content of the window.</p>
  </AppWindow>
</Showcase>

## {m.global_usage()}

<p class="fs-docs"><I18nMarkupMessage message={m.app_window_usage_description} /></p>

```svelte
<script>
	import { AppWindow, TitleBar, TitleBarLeftControls, TitleBarRightControls } from 'fluentui-svelte';
	import { AppsRegular } from 'fluentui-icons-svelte';
</script>

<AppWindow width={400} height={200}>
	<TitleBar>
		{#snippet leftControls()}
			<TitleBarLeftControls appIcon={AppsRegular} appName="Contoso" />
		{/snippet}
		{#snippet rightControls()}
			<TitleBarRightControls />
		{/snippet}
	</TitleBar>
	<p>This is the content of the window.</p>
</AppWindow>
```
