<script lang="ts">
  import { Tooltip, Button } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
</script>

# Tooltip

{m.tooltip_description()}

<Showcase columns={1} minHeight="250px">
  <Tooltip content="Here you can see additional information about this button" relationship="description" withArrow>
    {#snippet children(attrs)}
      <Button {...attrs}>Hover over me</Button>
    {/snippet}
  </Tooltip>
</Showcase>

## {m.tooltip_usage_title()}

```svelte
<script>
	import { Tooltip, Button } from 'fluentui-svelte';
</script>

<Tooltip content="Tooltip content" relationship="description" withArrow>
	{#snippet children(attrs)}
		<Button {...attrs}>Hover over me</Button>
	{/snippet}
</Tooltip>
```

## {m.tooltip_component_api_title()}

{m.tooltip_component_api_description_prefix()} [here](#component-props) {m.tooltip_component_api_description_suffix()}
