<script lang="ts">
  import { Flyout, Button, InfoBar } from '$lib/index.js';
  import { m } from '$i18n/messages.js';
	import { mode } from 'mode-watcher';
</script>

<section class="about-page">
  <Flyout>


# {m.about_title()}

<strong>{m.about_intro_bold()}</strong> {m.about_intro_after_bold()}

<picture>
  {#if mode.current === 'dark'}
    <source srcset="/images/about-banner-white.png" type="image/png" />
  {/if}
  <img class="about-image" src="/images/about-banner.png" style="border-radius: var(--fs-control-border-radius)" alt={m.about_hero_image_alt()} />
</picture>

<InfoBar status="warning" title={m.about_disclaimer_title()} hideCloseButton style="multiline">
  {m.about_disclaimer_text()}
</InfoBar>


## {m.about_tech_title()}

{m.about_tech_text1()}

{m.about_tech_text2()}

## {m.about_journey_title()}

{m.about_journey_text()}

{m.about_accessibility_text()}

## {m.about_ux_title()}

{m.about_ux_text()}

### {m.about_tauri_title()}

{m.about_tauri_text()}

<img class="about-image" src="/images/app-blur.jpg" alt={m.about_showcase_image_alt()} />

## {m.about_help_title()}

{m.about_help_text()}
<div class="row">
  <Button as="a" href="https://github.com/JLAcostaEC/fluentui-svelte/issues">
    {m.about_help_issues_button()}
  </Button>

  <Button appearance="standard" as="a" href="https://github.com/JLAcostaEC/fluentui-svelte/blob/main/CONTRIBUTING.md">
    {m.about_help_contributing_button()}
  </Button>
</div>

{m.about_paragraph3()}
<div class="row">
  <Button as="a" href="https://github.com/sponsors/JLAcostaEC">
    {m.about_github_sponsor_button()}
  </Button>

  <Button appearance="standard" as="a" href="https://github.com/JLAcostaEC/fluentui-svelte">
    {m.about_star_github_button()}
  </Button>
</div>
  </Flyout>
</section>

<style>
  .about-page {
    padding: 1rem;
    max-width: 800px;
    margin: auto;
    & :global(.fs-flyout) {
      padding: 2rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
    & .row {
      display: flex;
      gap: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    & .about-image {
      width: 100%;
      max-width: 100%;
      height: auto;
      border-radius: var(--fs-control-overlay-border-radius);
      margin: 0.5rem 0;
    }
  }
</style>
