<script lang="ts">
  import { Avatar } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';
  import { ClockRegular } from 'fluentui-icons-svelte';
</script>

# Avatar

{m.avatar_description()}

{m.avatar_overview_description()}

<Showcase columns={6} gap="40px" minHeight="280px" autoCenter>
  <Avatar size={40} name="FluentUI Svelte" />
  <Avatar size={40} name="FluentUI Svelte" color="information" shape="rounded" />
  <Avatar size={40} name="FluentUI Svelte" color="warning" shape="square" />
  <Avatar size={40} name="FluentUI Svelte" color="success" />
  <Avatar size={40} name="FluentUI Svelte" color="critical" activeAppearance="ring-shadow" />
  <Avatar active="active" size={40} name="FluentUI Svelte" color="success" />
  <Avatar active="active" size={48} name="FluentUI Svelte" color="critical" />
  <Avatar active="active" size={56} name="FluentUI Svelte" badge={{ status: 'available' }} color="warning" />
  <Avatar active="active" size={64} name="FluentUI Svelte" badge={{ status: 'unknown', outOfOffice: true }} />
  <Avatar active="active" size={72} name="FluentUI Svelte" icon={ClockRegular} color="information" />
  <Avatar
    active="active"
    size={96}
    name="FluentUI Svelte"
    image={{ src: 'https://placehold.co/96x96/jpeg' }}
    badge={{ status: 'do-not-disturb' }}
  />
</Showcase>

## {m.avatar_usage_title()}

```svelte
<script>
	import { Avatar } from 'fluentui-svelte';
</script>

<Avatar size={40} name="FluentUI Svelte" />
```

## {m.avatar_component_api_title()}

{m.avatar_component_api_description_before_link()} <a href="#component-props">{m.avatar_component_api_description_link_text()}</a>.
