<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.avatar_component_props_title()}

| **Name**           | **Type**                     | **Description**                                 |
| ------------------ | ---------------------------- | ----------------------------------------------- |
| `name`             | `string`                     | {m.avatar_props_name_description()}             |
| `image`            | `{ src: string }`            | {m.avatar_props_image_description()}            |
| `ref`              | `HTMLDivElement`             | {m.avatar_props_ref_description()}              |
| `size`             | `number`                     | {m.avatar_props_size_description()}             |
| `shape`            | `string`                     | {m.avatar_props_shape_description()}            |
| `color`            | `string`                     | {m.avatar_props_color_description()}            |
| `active`           | `string`                     | {m.avatar_props_active_description()}           |
| `activeAppearance` | `string`                     | {m.avatar_props_activeappearance_description()} |
| `initials`         | `string`                     | {m.avatar_props_initials_description()}         |
| `idForColor`       | `string`                     | {m.avatar_props_idforcolor_description()}       |
| `icon`             | `Snippet` &vert; `Component` | {m.avatar_props_icon_description()}             |
| `badge`            | `object`                     | {m.avatar_props_badge_description()}            |
