<script lang="ts">
  import { I18nMarkupMessage } from '@jlacostaec/paraglide-markup-svelte';
  import { TextBox } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const typeCode = `
<TextBox type="text" placeholder="Text" />
<TextBox type="search" placeholder="Search" />
<TextBox type="password" placeholder="Password" />
<TextBox type="number" placeholder="Number" />`;

  const readonlyCode = `<TextBox readonly value="Read-only value" />`;

  const hideButtonsCode = `<TextBox type="search" hideActionButtons placeholder="No action buttons" />`;
</script>

### {m.tb_type_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.tb_type_description} /></p>

<Showcase code={typeCode}>
  <TextBox type="text" placeholder="Text" />
  <TextBox type="search" placeholder="Search" />
  <TextBox type="password" placeholder="Password" />
  <TextBox type="number" placeholder="Number" />
</Showcase>

### {m.tb_readonly_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.tb_readonly_description} /></p>

<Showcase columns={1} code={readonlyCode}>
  <TextBox readonly value="Read-only value" />
</Showcase>

### {m.tb_hide_buttons_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.tb_hide_buttons_description} /></p>

<Showcase columns={1} code={hideButtonsCode}>
  <TextBox type="search" hideActionButtons placeholder="No action buttons" />
</Showcase>