<script lang="ts">
  import { InfoBar } from '$lib/index.js';
	import { mode } from 'mode-watcher';
  import { m } from '$i18n/messages.js';
</script>


# {m.global_overview()}

{m.docs_overview_description()}

<picture>
  {#if mode.current === 'dark'}
    <source srcset="/images/about-banner-white.png" type="image/png" />
  {/if}
  <img class="about-image" src="/images/about-banner.png" style="border-radius: var(--fs-control-border-radius)" alt={m.about_hero_image_alt()} />
</picture>

## {m.docs_overview_what_is_title()}

{m.global_library_description()}

## {m.docs_overview_features_title()}

- {m.docs_overview_features_item1()}
- {m.docs_overview_features_item2_before_link()} <a href="https://www.w3.org/WAI/standards-guidelines/aria/" target="_blank" rel="noreferrer">{m.docs_overview_features_item2_link_text()}</a> {m.docs_overview_features_item2_after_link()}
- {m.docs_overview_features_item3_before_code()} `<dialog></dialog>` {m.docs_overview_features_item3_middle()} `<summary></summary>` {m.docs_overview_features_item3_after_code()}
- {m.docs_overview_features_item4()}

<InfoBar title={m.docs_overview_attention_title()} status="warning" style="multiline" hideCloseButton>
  <p>
    {m.docs_overview_attention_description()}
  </p>
</InfoBar>

## {m.docs_overview_changelog_title()}

{m.docs_overview_changelog_description_before_link()} <a href="https://github.com/JLAcostaEC/fluentui-svelte/blob/main/CONTRIBUTING.md">{m.docs_overview_changelog_description_link_text()}</a>.
