/* Shiki Syntax Highlighting */
pre.shiki,
table.fs-docs,
code.shiki {
	border: 1px solid var(--fs-card-stroke-default);
	border-radius: var(--fs-control-overlay-border-radius);
	padding: 1rem 3rem 1rem 1rem;
	background-clip: padding-box;
	tab-size: 4;
	font-family: 'Cascadia Code', monospace;
	& *:not(tr *) {
		font-family: inherit;
	}
	& .line {
		min-height: 1rem;
	}
}
#docs table.fs-docs {
	background-color: var(--fs-card-background-default) !important;
	padding: 1rem 1rem 0.2rem 1rem;
	border: unset;
	width: 100%;
	& th {
		text-align: left;
	}
	& tr {
		& td {
			font-size: 0.8rem;
			line-height: 1.8em;
			padding: 0.4rem 1rem 0.4rem 0;
			& > code {
				background-color: var(--fs-card-background-default) !important;
				border: 1px solid var(--fs-card-stroke-default);
				border-radius: var(--fs-control-border-radius);
				padding: 2px 5px 5px 5px;
				background-clip: padding-box;
			}
		}
		&:not(:last-child) td {
			border-bottom: 1px solid var(--fs-control-stroke-default);
		}
	}
}
:is(p, li) > code {
	background-color: var(--fs-card-background-default) !important;
	border: 1px solid var(--fs-card-stroke-default);
	border-radius: var(--fs-control-border-radius);
	padding: 2px 5px 5px 5px;
	background-clip: padding-box;
	word-break: normal;
	display: inline-block;
}
pre:has(code) {
	position: relative;
	width: 100%;
}
pre.shiki code {
	max-width: 100%;
	display: inline-flex;
	flex-direction: column;
	overflow-x: auto;
}
pre button.copy {
	outline: none;
	background-color: var(--fs-subtle-fill-transparent);
	border: 1px solid var(--fs-subtle-fill-transparent);
	border-radius: var(--fs-control-border-radius);
	color: var(--fs-text-secondary);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.188rem 0.313rem;
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	z-index: 0;
	aspect-ratio: 1;
	&:focus-visible {
		outline: 0.125rem solid var(--fs-focus-stroke-outer);
		outline-offset: 1px;
	}
	&:hover {
		background-color: var(--fs-subtle-fill-secondary);
	}
	&:active {
		background-color: var(--fs-subtle-fill-tertiary);
		color: var(--fs-text-secondary);
	}
	&.copied {
		background-color: var(--fs-accent-fill-default) !important;
		color: var(--fs-text-on-accent-primary) !important;
		& svg path {
			fill: var(--fs-text-on-accent-primary) !important;
		}
	}
	& span {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	& .success {
		display: none;
		color: inherit !important;
	}
	& .idle {
		color: inherit !important;
	}
	&.copied {
		& .success {
			display: block;
		}
		& .idle {
			display: none;
			color: inherit !important;
		}
	}
}
