<script lang="ts">
  import { I18nMarkupMessage } from '@jlacostaec/paraglide-markup-svelte';
  import { Checkbox } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const labelCode = `
<Checkbox />
<Checkbox wrapperAs="label">FluentUI Checkbox</Checkbox>
<Checkbox wrapperAs="label">Another Checkbox</Checkbox>`;

  const checkedCode = `
<Checkbox wrapperAs="label">Unchecked</Checkbox>
<Checkbox wrapperAs="label" checked>Checked</Checkbox>`;

  const indeterminateCode = `
<Checkbox wrapperAs="label" indeterminate>Indeterminate</Checkbox>`;

  const disabledCode = `
<Checkbox wrapperAs="label" disabled>Disabled</Checkbox>
<Checkbox wrapperAs="label" checked disabled>Checked & Disabled</Checkbox>`;

  const valueCode = `
<Checkbox wrapperAs="label" value="checkbox-value">Checkbox with Value</Checkbox>`;
</script>

### {m.cb_label_title()}

<p class="fs-docs"><I18nMarkupMessage message={m.cb_label_description} /></p>

```svelte
<Checkbox wrapperAs="label">I'm Labeled</Checkbox>
<Checkbox>I'm Unlabeled</Checkbox>
```

### {m.global_indeterminate()}

<p class="fs-docs"><I18nMarkupMessage message={m.cb_indeterminate_description} /></p>

<Showcase minHeight="100px" columns={1} code={indeterminateCode}>
  <Checkbox wrapperAs="label" indeterminate>Indeterminate</Checkbox>
</Showcase>

### {m.global_disabled()}

<p class="fs-docs"><I18nMarkupMessage message={m.cb_disabled_description} /></p>

<Showcase minHeight="100px" code={disabledCode}>
  <Checkbox wrapperAs="label" disabled>Disabled</Checkbox>
  <Checkbox wrapperAs="label" checked disabled>Checked & Disabled</Checkbox>
</Showcase>