<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.skeleton_component_props_title()}

| **Name**           | **Type**                                | **Description**                                    |
| ------------------ | --------------------------------------- | -------------------------------------------------- |
| `as`               | `'div'` \| `'span'`                     | {m.skeleton_props_as_description()}                |
| `animation`        | `'wave'` \| `'pulse'`                   | {m.skeleton_props_animation_description()}         |
| `shape`            | `'circle'` \| `'rounded'` \| `'square'` | {m.skeleton_props_shape_description()}             |
| `justify`          | `boolean`                               | {m.skeleton_props_justify_description()}           |
| `element`          | `HTMLElement`                           | {m.skeleton_props_element_description()}           |
| Element Attributes |                                         | {m.skeleton_props_elementattributes_description()} |
