<script lang="ts">
  import { Slider } from '$lib/index.js';
  import Showcase from '$site/components/showcase/showcase.svelte';
  import { m } from '$i18n/messages.js';

  const rangeCode = `
<Slider value={20} min={0} max={50} step={5} />`;

  const ticksCode = `
<Slider value={50} step={25} ticks={[0, 25, 50, 75, 100]} />`;

  const verticalCode = `
<Slider value={40} orientation="vertical" />`;

  const disabledCode = `
<Slider value={30} disabled />`;
</script>

### {m.slider_range_title()}

{m.slider_range_description()}

<Showcase columns={1} code={rangeCode} minHeight="0" disablePanZoom showOverflow>
  <div style="width: 200px;">
    <Slider value={20} min={0} max={50} step={5}/>
  </div>
</Showcase>

### {m.slider_ticks_title()}

{m.slider_ticks_description()}

<Showcase columns={1} code={ticksCode} minHeight="0" disablePanZoom showOverflow>
  <div style="width: 200px;">
    <Slider value={50} step={25} ticks={[0, 25, 50, 75, 100]}/>
  </div>
</Showcase>

### {m.slider_orientation_title()}

{m.slider_orientation_description()}

<Showcase columns={1} code={verticalCode} minHeight="0" disablePanZoom showOverflow>
  <div style="height: 200px;">
    <Slider value={40} orientation="vertical"/>
  </div>
</Showcase>

### {m.global_disabled()}

{m.slider_disabled_description()}

<Showcase columns={1} code={disabledCode} minHeight="0" disablePanZoom showOverflow>
  <div style="width: 200px;">
    <Slider value={30} disabled/>
  </div>
</Showcase>
