<script lang="ts">
  import { m } from '$i18n/messages.js';
</script>

## {m.slider_component_props_title()}

| **Name**           | **Type**                                  | **Description**                                |
| ------------------ | ----------------------------------------- | ---------------------------------------------- |
| `value`            | `number`                                  | {m.slider_props_value_description()}           |
| `min`              | `number`                                  | {m.slider_props_min_description()}             |
| `max`              | `number`                                  | {m.slider_props_max_description()}             |
| `step`             | `number`                                  | {m.slider_props_step_description()}            |
| `ticks`            | `number[]`                                | {m.slider_props_ticks_description()}           |
| `tickPlacement`    | `'around' &#124; 'before' &#124; 'after'` | {m.slider_props_tickplacement_description()}   |
| `prefix`           | `string`                                  | {m.slider_props_prefix_description()}          |
| `suffix`           | `string`                                  | {m.slider_props_suffix_description()}          |
| `track`            | `boolean`                                 | {m.slider_props_track_description()}           |
| `orientation`      | `'horizontal' &#124; 'vertical'`          | {m.slider_props_orientation_description()}     |
| `reverse`          | `boolean`                                 | {m.slider_props_reverse_description()}         |
| `disabled`         | `boolean`                                 | {m.slider_props_disabled_description()}        |
| `sync`             | `boolean`                                 | {m.slider_props_sync_description()}            |
| `tooltip`          | `boolean`                                 | {m.slider_props_tooltip_description()}         |
| `tooltipPlacement` | `Placement`                               | {m.slider_props_tooltipplacement_description()} |
| `tooltipContent`   | `string &#124; Snippet &#124; Component`  | {m.slider_props_tooltipcontent_description()}  |
| `onChange`         | `(value: number) => void`                 | {m.slider_props_onchange_description()}        |
| `class`            | `string`                                  | {m.slider_props_class_description()}           |
| `ref`              | `HTMLElement`                             | {m.slider_props_ref_description()}             |
